@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("https://cdn.pixabay.com/photo/2018/07/09/04/07/art-3525344_960_720.png");
  background-position: center;
  background-size: cover;
  font-family: "Montserrat", sans-serif;
  color: white;
}
